.about{
    margin-top: 150px;
}
.about__title{
    @include mainTitle;
    text-align: center;
}

.about__text__block{
    max-width: 547px;
    margin: 0 auto;
    text-align: center;
}

.about__text{
    color: #828282;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 80px;
}

.about__options_block{
    max-width: 730px;
    padding-bottom: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 154px;
    border-bottom: 1px solid #747474;
    margin: 0 auto 84px auto;
}

.about__option__text{
    color: #747474;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.active{
    position: relative;
}

.active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -33px;
    background-color: #888;
}

.about__bottom_block{
    display: flex;
    align-items: center;
    gap: 93px;
}

.about__content__title{
    color: #828282;
    font-family: 'Poppins';
    font-size: 37px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 25px;
}

.about__content__title_block{
    max-width: 516px;
}

.about__content__text{
    color: #828282;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom: 40px;
}

.about__btn{
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #828282;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 20px 28px;
    cursor: pointer;
}

// @media screen and (max-width: 848px) {
//     .about__content__title{
//         font-size: 36px;
//     }
    
//     .about__content__text{
//         font-size: 14px;
//     }
// }

@media screen and (max-width: 770px) {
    .about__options_block{
        flex-direction: column;
        max-width: 100%;
        border: none;
    }

    .about__option{
        border-bottom: 1px solid #747474;  
        padding-bottom: 35px;
        text-align: center;
        width: 100%;
    }

    .about__option__text{
        font-size: 25px;
    }

    .active{
        &::after{
           display: none;
        }
    }
    
    .about__bottom_block{
        flex-direction: column;
    }

    .about__content_block{
        max-width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .about__option__text{
        font-size: 13px;
    }

    .about__option{ 
        padding-bottom: 25px;
    }
}